body{
    text-align: center;
    background-color: black;
}

#header{
    margin-top: 50px;
    color: blue;
}

#habit-name{
    color: white;
}

.list-container{
    height: 65.5vh;
    margin: 0vh 20vw;
}

::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.list-daily-habit{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#list-daily-habit{
    color: white;
    list-style-type: none;
    padding-left: 0px;
    height: 65vh;
    width: 57.5vw;
    display: block;
    border: 1px solid white;
    border-radius: 25px;
    overflow-y: scroll;
}

.date-habit-container{
    display: flex;
    justify-content: space-between;
    margin: 15px 55px;
}

.date-habit-container:hover{
    color: black;
    font-weight: bolder;
    background-color: blue;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
}

.date-container{
    display: inline-block;
    width: 100px;
    padding-top: 4px;
}

.habit-track{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-right: 5px;
}
